#wsc-header {

  margin: 50px auto;
  padding: 20px;

  width: 800px;

  background-color: #0000FF;

  h1 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
    color: white;
  }
}
